*{
    margin:0;
    padding:0;
    font-family: "poppins",sans-serif;
    box-sizing:border-box;
}

body{
  background: #000;
  color: #fff;
}

.header{
  width:100%;
  height:100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/header-image.png") ;
  background-position: center;
  position: relative;
}

nav ul{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#logo{
  margin-right: auto;
}

.menu {
  padding-right: 20px;
  padding-top: 5px;
  margin-top: 20px;
}

li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  margin: 10px 5px;
  padding: 10px 15px;
  border-radius: 5px; 
  cursor: pointer;
  background-color:red;
}


li a:hover {
  background-color: darkred;
}

.header-description {
  position: absolute;
  width: 50vw;
  top: 40%;
  left: 25%;
  text-align: center;
}

.des-one {
  font-size: 50px;
  font-weight: 900;
  padding-bottom: 10px;
}

.des-two {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0px;
}

 .des-three {
  padding: 20px 0px;
 }
 
 .signup-form{
  width: 100%;
 }

 .signup-form input{
    width: 60%;
    height: 8vh;
    padding: 5px;
    background-color: #000;
    border: 0.5px solid white;
    border-radius: 5px;
    color:black;
    font-size: 18px;
 }

 .signup-form button {
  padding: 5px;
  width: 30%;
  height: 8vh;
  background-color: red;
  color:white;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
 } 

 * {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background:#ddd;
}

input[type=text]:focus, input[type=password]:focus {
  background-color:#ddd;
  outline: none;
}

hr {
  border: 1px solid white;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color:red;
  color:#fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float cancel and signup buttons and add an equal width */
 .signin {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  width:100%;
  height:100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/header-image.png") ;
  background-position: center;
  position: relative;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}

